<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/home.css">

    <title>dashboard</title>
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <h1>calander</h1>
    <img src="https://i.pinimg.com/originals/9b/5e/e7/9b5ee709abd31e11a261572b498762e1.gif">

</body>
</html>